{
  "presets": [
    "@babel/env"
  ],
  "env": {
    "test": {
      "plugins": [
        [ "babel-plugin-webpack-alias-7", {
          "config": "webpack.config.js"
          }
        ]
      ]
    }
  }
}
